body {
  background: #eee;
  font-family: Roboto, sans-serif;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.logo {
  text-transform: uppercase;
  background-color: #fc4b3b;
  color: white;
  border-radius: 16px;
  user-select: none;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list:hover {
  color: #fc4b3b;
}

.phoneDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid black;
  border-radius: 20px;
  background-color: burlywood;
  width: 400px;
  height: fit-content;
  margin: 20px;
  padding: 20px;
}

.phoneTitle {
  text-align: center;
}

.phoneImg {
  max-width: 400px;
  max-height: 400px;
  border-radius: 10px;
}

.descriptionList {
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 161, 174);
  margin: 50px;
  padding: 20px;
  border: medium solid rgb(223, 102, 102);
  border-radius: 16px;
  width: fit-content;
  height: fit-content;
}
